
<form action="/Department/SaveNewDepartment" method="get">
	<div class="form-group" >
		<label for="Name">Name Of The Department</label>
		<input class ="form-control" type ="text" name="Name" manifest="Name" palceholder="Enter The Name"/>
	</div>
	<dive class="form-group">
		<label for="Manager">Name Of The Department</label>
		<input class="form-control" type="text" name="Manager" id="Manager" placeholder="Enter The Manager"/>
	</dive>

	<input type="submit" class="btn btn-primary" value="Create" />
</form>